*{padding:0; margin:0;}
html, body, #mapid {height: 100%;width: 100vw;}
h1{text-align:center;}
#sets{text-align:center;padding: 4px;padding-bottom: 12px;}
.legenda leaflet-control{border:none;top:0px;left:0px;z-index: 1001;}
.mainBar {position: absolute;width: 500px;height: 40px;z-index: 1001;top: auto;left: 0;background: #fff; text-align: center; border-radius: 8px;}
.mainBar span{padding: 2px; margin: 2px; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif;}
.mainBar span *{margin-top: 12px;}
#colleg{position: fixed;bottom: 18px;left: 18px;}
#colleg img:hover{opacity: 100%;}
#colleg img{width:35%;opacity:70%;}
.slider {-webkit-appearance: none;appearance: none;height: 12px;background: #d3d3d3; outline: none;opacity: 0.4;-webkit-transition: .2s;transition: opacity .2s;}.slider:hover {opacity: 1;}.slider::-webkit-slider-thumb {-webkit-appearance: none;appearance: none;width: 15px; height: 15px;background: #4caf89;cursor: pointer;}.slider::-moz-range-thumb {width: 15px;height: 15px;background: #4caf89;cursor: pointer;}
#opaDiv{float:right;margin-top:15px;font-weight: bold;}